// -----------------------------------------------------------------
//                     c o l o r s
// -----------------------------------------------------------------
$colors_bg: #ffe8b5;
$colors_card_bg: white;
$colors_text: #333;
$colors_text_1: #ffb63b;
$colors_button_bg: #ffd985;

// -----------------------------------------------------------------
//                     s i z e s
// -----------------------------------------------------------------
$size_base_multiplier: 8px;

// -----------------------------------------------------------------
//                     f o n t  s i z e s
// -----------------------------------------------------------------
$font_size: 14px;
$font_size_h1: 40px;

// -----------------------------------------------------------------
//                     l i n e   h e i g h t s
// -----------------------------------------------------------------
$line_height: 20px;
$line_height_header_title: 49px;

// -----------------------------------------------------------------
//                        b o r d e r s
// -----------------------------------------------------------------
$border_radius: 25px;

// -----------------------------------------------------------------
//                     f o n t  w e i g h t s
// -----------------------------------------------------------------
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semi_bold: 600;
