@import "./variables";
@import "./partials/tourSection";

html {
  margin: 0;
  padding: 0;
}

html,
body,
#__next,
.tour-container {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body.body {
  font-weight: $font_light;
  font-size: $font_size;
  color: $colors_text;
  overflow: unset !important;
}
